*.log
# /vendor
# /node_modules
# /public/storage
# /storage/*.key
# /storage/logs/*
# /storage/framework/cache/*
# /storage/framework/sessions/*
# /storage/framework/testing/*
# /storage/framework/views/*

.env
#/.env.backup
# /.phpunit.result.cache
# Homestead.json
# Homestead.yaml
# npm-debug.log
# yarn-error.log
# /.idea
# /.vscode
# .DS_Store
# Thumbs.db
node_modules
